.p430 #content img.major {
    max-width: 950px;
    margin-left: -175px;
}

.p430 #content {
    width: 600px;
}

.p331 #content img.major {
    max-width: 9999px;
    margin-left: -175px;
}

.p331 #content {
    width: 600px;
}